/* Start Global Rules */
body {
  scroll-behavior: smooth;
  font-family: "Raleway", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  height: 2000px;
}
:root {
  --main-color: #f79622;
}
.fo-color {
  color: var(--main-color);
}
.bg-color {
  background-color: var(--main-color);
}
/* End Global Rules */
/* Start Shered */

/* End Shered */
/* Start NavBar */
.navbar {
  position: fixed;
  padding: 20px 0 7px;
  font-weight: 600;
  z-index: 999;
  width: 100%;
  top: 0;
}
nav ul li.active > a {
  color: var(--main-color) !important;
}
nav li .btn {
  background-color: red;
  color: #fff !important;
}
nav li .btn a {
  color: white !important;
}
/* End NavBar */
/* ----------------------------- */
/* Start Header */
header {
  margin-top: 110px;
}
header span a {
  color: #fff;
}
header span a:hover {
  color: #8d5005;
  text-decoration: none;
}
/* End Header */
/* ----------------------------- */
/* Start Services */
.services ul.nav {
  border: 1px solid var(--main-color);
  width: 300px;
  margin: auto;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}
.services ul.nav a {
  color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #fff;
  color: var(--main-color);
}
select {
  width: 100%;
  padding: 10px;
  font-weight: 500;
  border-color: var(--main-color);
}
select:focus-visible,
.services .info-center .btn:focus {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 3px 2px orange;
}
.services .info-center .btn {
  border: 2px solid var(--main-color);
}
.services .card-body .btn {
  background-color: #000;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 25%;
  transition: all 0.3s ease-in-out;
}
.services .card {
  transition: all 0.7s ease-in-out;
}
.services .card-body i,
footer i {
  color: var(--main-color);
}
.services .card:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: #202b30 0px 3px 1.5625rem;
}
.services .card-body {
  background-color: #fddfbc;
}
.services .card-body img {
  max-height: 260px;
}
.services .card-body .btn:hover {
  background-color: var(--main-color);
}
/* End Services */
/* Start Footer */
footer {
  background-color: #222132;
  color: #fff;
}
footer .footer-top {
  padding: 66px 0;
}
footer .footer-top h2 {
  font-weight: 600;
}
footer .footer-top .list-group-item + .list-group-item,
.list-group-item:first-child {
  border-color: var(--main-color);
  background-color: #222132;
}
.badge-primary {
  background-color: var(--main-color);
}
footer ul {
  margin-top: -30px;
}
footer h2 {
  margin-bottom: 100px;
  line-height: 50px;
  letter-spacing: 2px;
}
footer p {
  line-height: 30px;
  letter-spacing: 1px;
}
footer img {
  width: 210px;
  height: 70px;
}
.footer-end {
  background-color: #2f2e41;
}
/* End Footer End*/
